<%= erb :'_errors' %>
<h3>ADD COMMENT</h3>

<form action="/posts/<%=@post.id%>/comments" method="POST">
  <input type="text" name="comment[content]" placeholder="comment"><br>

  <input type="submit" value="ADD COMMENT">
</form>