<a href="/posts">HOME</a><br>
<a href="/users/<%=current_user.id%>">view <%= current_user.username %>'s profile</a>
<div id="user-posts">
  <h5>Your Posts</h5>
  <ul>
    <% current_user.posts.each do |post| %>
      <a href="/posts/<%= post.id %>"><li><%= post.title %></li></a>
    <% end %>
   </ul>
</div>