<h4>Edit Post</h4>

<form action="/posts/<%= @post.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT">

  <input type="text" name="post[title]" value="<%= @post.title %>"><br>
  <input type="text" name="post[content]" value="<%= @post.content %>"> <br>

  <input type="submit" value="UPDATE POST">
</form>